## ENV COPY, DO NOT COMMIT THIS
## Please copy this file and save with the relevant changes as `.env`

# Spotify
SPOTIFY_CLIENT_ID=ABC123
SPOTIFY_CLIENT_SECRET=ABC123
SPOTIFY_REDIRECT_URI=https://127.0.0.1:8888/callback
SPOTIFY_USER_ID=ABC123

# Discord
DISCORD_BOT_TOKEN=ABC123
TARGET_CHANNEL_NAME=ABC123
GUILD_IDS=123,456

# Database
DB_URL=sqlite:////path/to/discord-spotify-utility/storage/discord-spotify.db

# Logging
LOGGING_FORMAT=[%(asctime)s] [%(levelname)-8s] %(name)-s: %(message)s
DATE_FORMAT=%Y-%m-%d %H:%M:%S
